<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/accueil.css">
    <title>Accueil</title>
</head>
<body>
    <section class="navigation">
        <div class="navigation1">
            <a href="#" class="navigation2">
                <span>M</span>inecraft 
            </a>
            <div class="navigation3">
                <a>Profil</a>
            </div>
            
        </div>
    </section>

    <section class="actualite">
        <div class="actualite1">
            <p class="actualite2"> Lien</p>
            <p class="actualite2">lien2</p>
            <p class="actualite2">lien3</p>
            <p class="actualite2">lien4</p>
        </div>
    </section>
</body>
</html>