<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/css/enregistrement.css">
    <title>Enregistrement</title>
</head>
<body>
    <section class="actualite">
        <div class="actualite1"style="
        overflow: scroll;
    ">
            <form action="/enregistrement" method="post" style="    margin-top: 200px;
            ">
                <h1 class="actualite2">
                    <span>S</span>'enregistrer
                </h1>
            
                <fieldset>
                    <label for="pseudo">Identifiant:</label>
                    <input type="text" id="pseudo" name="pseudo" required minlength="3" maxlength="20">
            
                    <label for="mail">Email:</label>
                    <input type="email" id="mail" name="mail" required>
            
                    <label for="mdp">Mot de passe:</label>
                    <input type="password" id="mdp" name="mdp" required minlength="6">
            
                    <label for="testmdp">Mot de passe check:</label>
                    <input type="password" id="testmdp" name="testmdp" required minlength="6">
                
                    <label for="age">Age :</label>
                    <input type="number" id="age" name="age" required value="1" min="13" max="100">
            
                    <label for="icon">Choisir une couleur d'icon :</label>
                    <select id="icon" name="icon">
                        <option value="violet">violet</option>
                        <option value="bleu">bleu</option>
                        <option value="vert">vert</option>
                        <option value="jaune">jaune</option>
                        <option value="orange">orange</option>
                        <option value="rouge">rouge</option>
                    </select>
               
                    <p class="couleur">{{ .Message }}</p>
                
                </fieldset>
                <button type="submit">S'inscrire</button>
                
            
            </form>
        </div>
    </section>
</body>
</html>
